- name: Collect logs.
  synchronize:
    dest: "{{ zuul.executor.log_root }}/{{ item.dest }}"
    src: "{{ item.src }}"
    mode: pull
  with_items:
    - dest: "console.log"
      src: "{{ base_console_log_file }}"
    - dest: logs
      src: "{{ base_log_root }}"

- name: publish logs.
  delegate_to: localhost
  command: >
    /usr/bin/rsync
    --compress --recursive
    --rsh ssh
    --rsync-path 'mkdir -p /var/www/bonny-logs/logs/{{ zuul.pipeline }}/{{ zuul.project }}/{{ zuul.change }}/{{ zuul.uuid }} && rsync'
    {{ zuul.executor.log_root }}/
    logs.internal.opentechsjc.bonnyci.org:/var/www/bonny-logs/logs/{{ zuul.pipeline }}/{{ zuul.project }}/{{ zuul.change }}/{{ zuul.uuid }}/
